*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, sans-serif, helvetica;
    line-height: 1.6;
    color: black;
    background-color: #ffe0ff;

}

/* Encabezado */
header{
    background-color: #ffa8d9;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

header h1{
    font-size: 42px;
    margin: 0;
}

header p{
    font-size: 20px;
    margin-top: 10px;
    font-style: italic;
}

/* Navegación */ 
nav{
    background-color: #ff8dc6;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 25px;
    border-bottom: 1px solid #ffa8d9;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    color: #ffe0ff;
    text-decoration: underline;
}

/* Main */
main
{
    max-width: 1100px;
    margin: 0 auto;
    background-color: #d3dbfc;
}

/* Secciones */
section{
    padding: 60px 40px;
    border-bottom: 1px solid #a8afff;
}
section h2{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}
/* Sección INICIO */
.seccion-inicio{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Sección CONTENIDO */
.seccion-contenido{
    max-width: 700px;
}
.seccion-contenido h2{
    font-size: 42px;
    margin-bottom: 15px;
}
.seccion-contenido p{
    font-size: 20px;
    margin-bottom: 30px;
}
/* Botón */
.boton,button{
    display: inline-block;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color: #ff8dc6;
    color: white;
   text-decoration:none;
    font-size: 16px;
    cursor: pointer;
}
.boton:hover, button:hover{
    background-color: #ffa8d9;
    color: #ffe0ff;
}

/* Sección SOBRE MÍ */
.sobre-mi-contenido{
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}
.sobre-mi-contenido img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #ffbcde;
    border: 5px solid #ff8dc6;
}
.sobre-mi-contenido p{
    font-size: 18px;
}
/* Sección HABILIDADES */
.lista-habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
    list-style: none;
}
.lista-habilidades li{
    background-color: #f7a1ea;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: 3px solid #f388cf;
    font-weight: bold;
}
/* Sección MIS PROYECTOS */
.contenedor-proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.proyecto{
    flex: 1;
    min-width: 250px;
    background-color: #f7a1ea;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #f388cf;
}
.proyecto h3{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
}
.proyecto a{
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

/* Sección FORMULARIO */
form{
    max-width: 500px;
    margin: 0 auto;
}
.campo{
    margin-bottom: 20px;
}
.campo label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.campo input, .campo textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.campo textarea{
    resize: vertical;
    min-height: 100px;
}
form button{
    width: 100%;
    background-color: #ff8dc6;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* PIE DE PAGINA */
footer{
    background-color: #ffa8d9;
    color: white;
    text-align: center;
    padding: 20px;
}
footer p{
    margin: 0;
    font-size: 16px;
}
/* Diseño responsive */
@media (max-width: 768px){
    header h1{
        font-size: 32px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    section{
        padding: 40px 20px;
    }
    .seccion-inicio h2{
        flex-direction: column;
        text-align: center;
    }
    .sobre-mi-contenido{
        flex-direction: column;
        text-align: center;
    }
    .contenedor-proyectos{
        flex-direction: column;
        align-items: center;
    }
}

